<div class="page">
  <div class="wrapper">
    <div class="container">
      <div class="left">
        <div class="top">
          <div class="search">
          <input type="text" placeholder="Search" class="searchbar"/>
        </div>
        </div>
        <ul class="people">
          <li *ngFor="let client of clients; let isFirst = first" class="person" [class.active]="client === selectedClient || (isFirst && !selectedClient)" (click)="selectClient(client)">
            <span class="name">{{ client.name }}</span>
            <span class="time">2:09 PM</span>
          </li>
        </ul>
      </div>
      <div class="right">
        <div class="top" *ngIf="selectedClient">
          <span>Avec:
          <span class="name">{{ selectedClient.name }} {{ selectedClient.lastname }}</span>
          <span class="codecli">
            Code client: <b>{{ selectedClient.code }}</b>
          </span>
        </span>
      </div>
        <div class="chat" *ngIf="selectedClient" [attr.data-chat]="selectedClient.code">
        </div>
        <div class="text">
          <ul *ngIf="messages.length > 0">
            <li *ngFor="let message of messages">
              <ng-container *ngIf="message.senderAdmin; else clientMessage">
                <span class="name">{{ selectedClient?.name }}</span><br><span class="msgcnt">{{ message.content }}</span>
              </ng-container>
              <ng-template #clientMessage>
                <span class="admn name">Vous<br></span>
                <span class="msgmove">
               <span class="adm msgadm">{{ message.content }}</span>
              </span>
              </ng-template>
            </li>
          </ul>
        </div>
        <div class="mesageBox">
          <div class="fileUploadWrapper">
            <label for="file">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 2 600 337">
                <circle
                  stroke-width="20"
                  stroke="#6c6c6c"
                  fill="none"
                  r="158.5"
                  cy="168.5"
                  cx="168.5"
                ></circle>
                <path
                  stroke-linecap="round"
                  stroke-width="25"
                  stroke="#6c6c6c"
                  d="M167.759 79V259"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-width="25"
                  stroke="#6c6c6c"
                  d="M79 167.138H259"
                ></path>
              </svg>
              <span class="tooltip">Add an image</span>
            </label>
            <input type="file" id="file" name="file" />
          </div>
          <form *ngIf="selectedClient" (submit)="sendMessage()" class="send">
          <input required="" [(ngModel)]="message" name="message" placeholder="Message..." id="messageInput" />
          <button id="sendButton" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
              <path
                fill="none"
                d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
              ></path>
              <path
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="33.67"
                stroke="#6c6c6c"
                d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
              ></path>
            </svg>
          </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
